:root {
    --black: #111;
    --gray-dark: #aaa;
    --gray: #dbdbdb;
    --gray-light: #f5f5f5;
    --red: #ff0000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

#content {
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    min-height: 100vh;
}

header {
    background: var(--gray-dark);
    color: var(--gray-light);
    display: flex;
    padding: 23px;
}

    header p {
        margin-left: 100px;
    }

    header > :last-child {
        margin-top: 23px;
    }

    header a {
        text-decoration: none;
        background: rgb(36, 185, 22);
        border-radius: 5px;
        color: var(--black);
        font-weight: 700;
        font-size: 20px;
        padding: 13px;
    }

    header a:hover {
        background: green;
    }

footer {
    background: var(--gray-dark);
    color: var(--gray-light);
    padding: 23px;
}

main {
    flex-grow: 1;
    font-weight: 700;
}

    main > div {
        padding: 26px 0 26px 13px;
    }

nav {
    background: var(--gray-light);
}

    nav > ul {
        display: flex;
    }

        nav > ul > li {
            flex-grow: 1;
            font-size: 18px;
            font-weight: 700;
            padding: 13px;
            text-align: center;
        }

            nav > ul > li:hover {
                background: var(--gray);
                cursor: pointer;
            }

            nav > ul > li.activated {
                background: var(--gray);
                border-bottom: solid 2px var(--black);
                border-right: solid 2px var(--black);
            }

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
    padding: 13px 50px;
}

h3 {
    font-size: 26px;
    padding: 13px;
    text-align: center;
}

input {
    border: 1px solid var(--gray-dark);
    margin-left: 3px;
    margin-bottom: 13px;
    padding: 7px;
    width: 200px;
}

    input:disabled {
        opacity: 0.4;
    }

input[type="button"] {
    background: var(--gray);
    margin: 13px;
    width: 100px;
}

    input[type="button"]:hover {
        background: var(--gray-dark);
        cursor: pointer;
    }

    input[type="button"]:disabled {
        opacity: 0.4;
    }

        input[type="button"]:disabled:hover {
            cursor: auto;
            background: var(--gray);
        }

    input[type="button"].green {
        background: #92f092;
    }

        input[type="button"].green:hover {
            background: #7bd27b;
        }

    input[type="button"].red {
        background: #ff6868;
    }

        input[type="button"].red:hover {
            background: #e15f5f;
        }

input[type="checkbox"] {
    display: inline-block;
    margin: 13px;
    padding: 0;
    width: initial;
}

input[type="date"] {
    margin-right: 3px;
}

input[type="number"] {
    width: 75px;
}

input[type="text"] {
    width: 200px;
}

select {
    border: 1px solid var(--gray-dark);
    margin-left: 3px;
    margin-bottom: 13px;
    padding: 7px;
    width : 200px;
}

    select:disabled {
        opacity: 0.4;
    }

ul {
    list-style: none;
}

.color-picker {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.content-day {
    align-items: center;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px 0;
    padding: 3px;
}

.content-menu {
    padding: 26px;
}

.content-menu-list {
    padding: 0 26px;
}

.content-schedule {
    display: flex;
}

.content-week {
    padding: 3px;
}

.day-hover:hover {
    position: relative;
    background: var(--white);
    border: 3px solid var(--gray-dark);
    cursor: pointer;
    transform: scale( 1.5 );
    z-index: 2;
}

.day-infos-box {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.end-time-infos {
    font-size: 12px;
    bottom: 0;
    left: 0;
    padding-left: 3px;
    position: absolute;
    z-index: 2;
}

.error {
    color: var(--red);
    font-weight: 700;
}

.error-bg {
    border: solid 1px var(--red);
}

.flex-grow-1 {
    flex-grow: 1;
}

.group-infos {
    font-size: 12px;
    padding-right: 3px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.input-days-list {
    display: inline;
}

.mention-infos {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    left: 50%;
    opacity: 0.4;
    position: absolute;
    top:50%;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    z-index: 1;
}

.paginator-schedule {
    display: flex;
}

.popup {
    background-color: rgba( 0, 0, 0, 0.4);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

.popup-inner {
    background: var(--white);
    bottom: 5%;
    display: flex;
    flex-direction: column;
    left: 10%;
    overflow:scroll;
    padding: 13px;
    position: absolute;
    right: 10%;
    top: 5%;
    white-space:nowrap;
    z-index: 3;
}

.session-infos {
    font-size: 16px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.session-infos-box {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 1;
}

.slot-content-box {
    position: relative;
    z-index: 1;
}

.slot-infos-box {
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 1;
}

.slot-mask {
    background-color: transparent;
    bottom: 0;
    height: 90%;
    left: 0;
    position: absolute;
    right: 0;
    top: 10%;
    width: 100%;
    z-index: 1;
}

    .slot-mask ~ div {
        opacity: 0.4;
    }

.slot-name {
    font-size: 16px;
    padding: 20px 0 10px  26px;
}

.start-time-infos {
    font-size: 12px;
    left: 0;
    padding-left: 3px;
    position: absolute;
    top: 0;
    z-index: 2;
}

